<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Affable Bean :: Admin Console</title>
</head>
<body>

<footer th:fragment="header" id="header" class="alt">
    <script type="text/javascript">
        $(document).ready(function () {
            $('tr.tableRow').hover(
                    function () {
                        $(this).addClass('selectedRow');
                    },
                    function () {
                        $(this).removeClass('selectedRow');
                    }
            );
        });
    </script>

    <div id="widgetBar">

        <a href="<c:url value='../index.html'/>">
            <img src="../img/logo.png" alt="Affable Bean logo" id="adminLogo">
        </a>

        <img src="../img/logoText.png" id="logoText" alt="the affable bean">
    </div>

    <h2>admin console</h2>

</footer>

</body>
</html>