<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{title.error.e404}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/styles.css" th:href="@{/static/css/styles.css}"/>
</head>

<body>

<div class="jumbotron" id="holder">
    <h2>The requested URL not found!</h2>
</div>

</body>

</html>